
  .content {
    background-color: #ffffff;
    color: #aaaaaa;
    width: 80%;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .content.home {
    width: 90%;
    background-color: transparent;
    padding: 80px 0;
  }
  .content.home h2 {
    color: #FFFFFF;
    margin: 0;
  }
  .content.home h2.welcome {
    font-weight: 200;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 180px;
    margin: 0 0 80px;
    font-size: 24px;
    margin-left:7vh;
  }
  .content.home h2.welcome .name {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-size: 45px;
    margin: 10px 0;
  }
  .content.home h2.welcome .date {
    font-weight: 200;
    font-size: 25px;
    display: block;
  }

  .content.home .row {
    margin-bottom: 0 !important;
  }

  .well {
    border-radius: 4px;
    border: none;
  }
  .well.main-card {
    display: block;
    padding: 0;
    width: calc(33.33% - 15px);
    margin-right: 15px;
    position: relative;
    float: left;
  }
  .well.main-card:hover {
    cursor: pointer;
    z-index: 10;
  }
  .well.main-card .well-header {
    max-height: 120px;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    position: relative;
  }
  .well.main-card .well-header img {
    width: 100%;
  }
  .well.main-card .well-btn {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    background: #4478CC;
    left: calc(50% - 45px);
    top: 75px;
  }
  .well.main-card .well-btn i {
    margin: auto;
    font-size: 40px;
    color: #FFFFFF;
  }
  .well.main-card .well-content {
    padding: 80px 20px 20px 20px;
    text-align: center;
    color: #4478CC;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }

  .well.main-card {
    width: 30%;
    margin: 0 1.5%;
  }

  .well.main-card:hover {
    z-index: 1;
  }

  .well.main-card {
    width: 100%;
    margin: 30px 0;
  }

  .hover, .well.main-card:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  .flex, .well.main-card .well-btn, .navbar-static-side .sub-sections div, .navbar-static-top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }





