<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" dropdown>
                    <a dropdownToggle>
                        <span class="block m-t-xs" style="text-align:center;padding-top: 3vh;"><strong class="font-bold">David Williams</strong><b class="caret"></b> </span>
                    </a>
                    <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
                        <li><a href="#">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
                <div class="logo-element">

                </div>
            </li>
            <li [ngClass]="{active: activeRoute('starter')}">
                <a [routerLink]="['/starterview']"><i class="fa fa-home fa-lg"></i> <span class="nav-label">Inicio</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('processes')}">
                <a [routerLink]="['/processes/processe']"><i class="fa fa-commenting fa-lg"></i> <span class="nav-label">Procesos</span></a>
            </li>

            <li [ngClass]="{active: activeRoute('settings')}">
                <a href="#"><i class="fa fa-cog fa-lg"></i> <span class="nav-label">Configuración</span> </a>
                <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('settings')}">
                    <li [ngClass]="{active: activeRoute('parameter')}"><a [routerLink]="['/settings/parameter']">Usuarios</a></li>
                    <li [ngClass]="{active: activeRoute('parameter')}"><a [routerLink]="['/settings/parameter']">Parametros</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>