<div class="wrapper wrapper-content">
    <div class="row">
        <div style="text-align: right;padding-bottom: 2vh;" class="col-lg-12">
            <button (click)="OpenAddCreateProcesses(AddProcesses)" type="button" class="btn btn-primary">Agregar Proceso</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <dx-data-grid keyExpr="ProcessesID" id="gridContainer" [dataSource]="ViewProcesses" [showBorders]="false">
                <dxo-pager [allowedPageSizes]="[5, 10, 15, 20]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxi-column [allowHeaderFiltering]="false" [width]="250" dataField="ProcessesName" caption="Nombre del Proceso"></dxi-column>
                <dxi-column dataField="TypeProcesses" caption="Tipo del Proceso"></dxi-column>
                <dxi-column dataType="date" dataField="StartDate" caption="Fecha Inicio"></dxi-column>
                <dxi-column dataType="date" dataField="EndDate" caption="Fecha Limite"></dxi-column>
                <dxi-column dataField="Carrer" caption="Carrera"></dxi-column>
                <dxi-column dataField="University" caption="Universidad"></dxi-column>
                <dxi-column dataField="Faculty" caption="Facultad"></dxi-column>
                <dxi-column dataField="ResponsbilityName" caption="Responsable"></dxi-column>
                <dxi-column dataField="State" caption="Estado"></dxi-column>
                <dxi-column [allowFiltering]="false" [allowSorting]="false" [allowHeaderFiltering]="false" alignment="center" [width]="100" cellTemplate="cellTemplate" caption="Avance"></dxi-column>
                <div *dxTemplate="let d of 'cellTemplate'; let itemIndex = index">
                    <div class="progress progress-mini">
                        <div style="width: 28%;" class="progress-bar"></div>
                    </div>
                </div>

            </dx-data-grid>
        </div>
    </div>

</div>
<ng-template #AddProcesses>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">CREAR PROCESO</h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
                            <span aria-hidden="true ">&times;</span>
            </button>
    </div>
    <dx-validation-group>
        <div class="modal-body ">
            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Nombre del Proceso</div>
                <div class="dx-field-value">
                    <dx-text-box placeholder="Ingrese el Nombre del Proceso" (ngModelChange)="Processes.ProcessesName=$event" [ngModel]="Processes?.ProcessesName" [showClearButton]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Requiere ingresar un nombre">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="2" message="El valor minimo es de 2 caracteres">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Tipo del Proceso*:</div>
                <div class="dx-field-value">
                    <dx-select-box (ngModelChange)="Processes.TypeProcessesID=$event" placeholder="Seleccione el Tipo del Proceso" [ngModel]="Processes?.TypeProcessesID" [items]="TypeProcessesView" displayExpr="Name" [showClearButton]="true" valueExpr="ParameterID" [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecciona un Tipo de Proceso"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Facultad:</div>
                <div class="dx-field-value">
                    <dx-select-box (ngModelChange)="Processes.FacultyID=$event" placeholder="Seleccione la Facultadad" [ngModel]="Processes?.FacultyID" [items]="FacultyView" displayExpr="Name" [showClearButton]="true" valueExpr="FacultyID" [searchEnabled]="true">
                    </dx-select-box>
                </div>
            </div>
            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Carrera:</div>
                <div class="dx-field-value">
                    <dx-select-box (ngModelChange)="Processes.CarrererID=$event" placeholder="Seleccione la Carrera" [ngModel]="Processes?.CarrererID" [items]="CarrerView" displayExpr="Name" [showClearButton]="true" valueExpr="CareerID" [searchEnabled]="true">
                    </dx-select-box>
                </div>
            </div>
            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Sede:</div>
                <div class="dx-field-value">
                    <dx-select-box (ngModelChange)="Processes.VenuesID=$event" placeholder="Seleccione la Sede" [ngModel]="Processes?.VenuesID" [items]="VenueView" displayExpr="Name" [showClearButton]="true" valueExpr="VenuesID" [searchEnabled]="true">
                    </dx-select-box>
                </div>
            </div>

            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Rangos de Fecha:</div>
                <div class="column">
                    <div class="field col-lg-3">
                        <div>Fecha Inicio:</div>
                        <div class="value">
                            <dx-date-box [displayFormat]="'dd/MM/yyyy'" [(max)]="endValue" [value]="startValue" type="datetime">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Selecciona una fecha de inicio"></dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="field col-lg-3">
                        <div>Fecha Termino:</div>
                        <div class="value">
                            <dx-date-box [displayFormat]="'dd/MM/yyyy'" [value]="endValue" [(min)]="startValue" type="datetime">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Selecciona una fecha de termino"></dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Responsable*:</div>
                <div class="dx-field-value">
                    <dx-select-box (ngModelChange)="Processes.ResponsbilityID=$event" placeholder="Seleccione el Responsable del Proceso" [ngModel]="Processes?.ResponsbilityID" [items]="PersonalAssinated" displayExpr="CompleteName" [showClearButton]="true" valueExpr="UserID"
                        [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Selecciona un Responsable"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>

            <div style="margin-top: 20px;" class="dx-field">
                <div class="dx-field-label">Integrantes*:</div>
                <div class="dx-field-value">
                    <dx-drop-down-box [(value)]="treeBoxValue" valueExpr="UserID" displayExpr="CompleteName" placeholder="Seleccione un Valor" [showClearButton]="true" [dataSource]="PersonalView" (onValueChanged)="syncTreeViewSelection()">
                        <div *dxTemplate="let data of 'content'">
                            <dx-tree-view [dataSource]="PersonalView" dataStructure="plain" keyExpr="UserID" selectionMode="multiple" showCheckBoxesMode="normal" [selectNodesRecursive]="false" displayExpr="CompleteName" [selectByClick]="true" (onContentReady)="syncTreeViewSelection($event)"
                                (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
                            </dx-tree-view>
                        </div>
                    </dx-drop-down-box>
                </div>
            </div>

            <div class="row">
                <dx-validation-summary style="padding-top: 2%; padding-left: 37vh;"></dx-validation-summary>
            </div>


        </div>
        <div class="modal-footer ">
            <button type="button" (click)="CancelNewProcesses()" class="btn btn-secondary" data-dismiss="modal">cancelar</button>

            <dx-button [useSubmitBehavior]="true" class="btn btn-primary" (onClick)="CreateProcesses($event)" text="Crear"></dx-button>
        </div>
    </dx-validation-group>

</ng-template>